---

---

<div class="hero min-h-[85vh] flex justify-between items-center mx-10 ">

    <div class="left flex flex-col gap-7">
        <h1 class="text-6xl font-normal text-left max-w-4xl italic">I help entrepreneurs convert traffic into income <span class="text-7xl">🚀</span></h1>
   <p class="max-w-xl text-lg ">From Small Entrepreneurs to Established Brands, I Deliver Expert Email Marketing and Design Solutions to Drive Revenue Growth.</p>
    <div class="cta">
        <button class="px-8 py-4 text-center text-gray-900 rounded-2xl font-medium  bg-yellow-300">Contact Me </button>
        <button class="px-8 py-[0.85rem] text-center text-gray-900 rounded-2xl font-medium  border-2 border-yellow-300">Book a Consult</button>

    </div>
</div>


    <div class="Profile">
        <img src="/prof.png" alt="profile picture" class="max-w-[350px] rounded-full">
    </div>
</div>