---
import Layout from "../layouts/Layout.astro";


---

<Layout title="courses">
<div class="soon text-6xl flex min-h-[90vh] justify-center items-center font-bold">
    comming soon
</div>
</Layout>
