---

---

<footer class="flex justify-between my-10 border-t-2 border-gray-600 pt-6 mx-20 items-center">
    <h1 class="text-2xl italic font-normal">sameer-karki</h1>
    <p>&copy;2024 sameer karki</p>
</footer>