---

---

<nav class="navbar my-5 mx-10 flex justify-between items-center">
    <div class="logo">
        <h1 class="text-2xl italic font-normal">sameer-karki</h1>
    </div>
    <ul class="flex text-lg gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/contact">Contact</a></li>

    </ul>
</nav>