---
interface Props {
    title: string,
    description: string
}
const {title, description} = Astro.props
---

<div class="card py-12 px-4 text-center border-2 border-yellow-300 max-w-sm rounded-lg">
    <h1 class="font-semibold text-2xl">{title}</h1>
    <p class="text-lg font-normal text-gray-900">{description}</p>
</div>